aiofiles==23.2.1
aiohttp==3.8.6
aiosignal==1.3.1
altair==5.1.2
annotated-types==0.6.0
anyio==3.7.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
backports==1.0
backports.functools_lru_cache==1.6.5
beautifulsoup4==4.12.2
ca-certificates==2023.7.22
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.1.4
contourpy==1.2.0
cycler==0.12.1
dataclasses==0.6
dataclasses-json==0.5.14
debugpy==1.6.7
decorator==5.1.1
distro==1.8.0
emoji==2.8.0
exceptiongroup==1.1.3
executing==2.0.1
fastapi==0.104.1
ffmpy==0.3.1
filelock==3.13.1
filetype==1.2.0
fonttools==4.44.1
frozenlist==1.4.0
fsspec==2023.10.0
gevent==23.9.1
gradio==4.3.0
gradio-client==0.7.0
greenlet==3.0.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
huggingface-hub==0.19.1
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
importlib_metadata==6.8.0
ipykernel==6.26.0
ipython==8.17.2
jedi==0.19.1
jieba==0.42.1
jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter_client==8.6.0
jupyter_core==4.12.0
kiwisolver==1.4.5
langchain==0.0.292
langdetect==1.0.9
langsmith==0.0.64
libsodium==1.0.18
lxml==4.9.3
markdown==3.5.1
markdown-it-py==3.0.0
markupsafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.1
matplotlib-inline==0.1.6
mdurl==0.1.2
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.5.8
nltk==3.8.1
numexpr==2.8.7
numpy==1.26.2
openai==0.27.6
openssl==1.1.1l
orjson==3.9.10
packaging==23.2
pandas==2.1.3
parso==0.8.3
pickleshare==0.7.5
pillow==10.1.0
pip==23.3
prompt-toolkit==3.0.41
prompt_toolkit==3.0.41
psutil==5.9.0
pure_eval==0.2.2
pycparser==2.21
pydantic==2.5.0
pydantic-core==2.14.1
pydub==0.25.1
pygments==2.16.1
pyjwt==2.8.0
pymupdf==1.23.6
pymupdfb==1.23.6
pyparsing==3.1.1
python==3.9.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-iso639==2023.6.15
python-magic==0.4.27
python-multipart==0.0.6
python_abi==3.9
pytz==2023.3.post1
pywin32==227
pyyaml==6.0.1
pyzmq==23.2.1
rapidfuzz==3.5.2
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
rich==13.6.0
rpds-py==0.12.0
scikit-learn==1.3.2
scipy==1.11.3
semantic-version==2.10.0
setuptools==68.0.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sqlalchemy==2.0.23
sqlite==3.41.2
stack_data==0.6.2
starlette==0.27.0
tabulate==0.9.0
tenacity==8.2.3
threadpoolctl==3.2.0
tomlkit==0.12.0
toolz==0.12.0
tornado==6.2
tqdm==4.66.1
traitlets==5.13.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
unstructured==0.10.30
urllib3==2.1.0
uvicorn==0.24.0.post1
vc==14.2
vs2015_runtime==14.27.29016
wcwidth==0.2.10
websocket==0.2.1
websockets==11.0.3
websocket-client==0.57.0
wheel==0.41.2
yarl==1.9.2
zeromq==4.3.4
zhipuai==1.0.7
zipp==3.17.0
zope-event==5.0
zope-interface==6.1
